{# templates/resource_classification/add.html.twig #}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

{{ form_start(form, {'action': path('resource_classification_add', { 'resourceType': resourceType }), 'method': 'POST', 'class': 'form-horizontal'}) }}

<fieldset>
	<legend><img src="{{ asset('images/box-32.png') }}">&nbsp;</img>{{ ('resourceType.create.classification.' ~ resourceType)|trans }}</legend>
	{{ form_row(form.name) }}
	{{ form_rest(form) }}
</fieldset>

<div class="btn-group">
<a href="{{ path('resource_classification', { 'resourceType': resourceType }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

<script>document.getElementById('resource_classification_name').focus();</script>

{% endblock %}

{% block message %}

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-warning sb-message">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{ flash_message|trans }}
</div>
{% endfor %}

{% endblock %}
