{% extends 'base.connected.html.twig' %}
 
{% block body %}

{{ form_start(form, {'action': path('resource_classification_delete', { 'resourceType': resourceType, 'resourceClassificationID': resourceClassification.ID }), 'method': 'POST', 'class': 'form-horizontal'}) }}

<legend><img src="{{ asset('images/box-32.png') }}">&nbsp;</img>&nbsp;{{ resourceClassification.name }}</legend>

<p>{{ 'resourceClassification.ask.delete'|trans({'%name%': resourceClassification.name}) }}</p>

<div class="btn-group">
<a href="{{ path('resource_classification_index', { 'resourceType': resourceType }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>

{{ form_end(form) }}

{% endblock %}
