{# templates/resource_classification/foreign.external.html.twig #}

{% extends 'base.connected.html.twig' %}
 
{% set resourceTypeIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}

{% block body %}

<legend><img src="{{ asset('images/' ~ resourceTypeIcons[resourceType] ~ '-32.png') }}">&nbsp;{{ ('resourceClassification.' ~ action ~ '.not.allowed')|trans }}</legend>

<div class="panel panel-danger">

{% for resource in listResources %}
	<a href="{{ path('resource_edit', { 'resourceID': resource.ID }) }}" class="list-group-item list-group-item-warning"><img src="{{ asset('images/' ~ resourceTypeIcons[resourceType] ~ '-32.png') }}">&nbsp;{{ resource.name }}</a>
{% endfor %}

</div>

{% endblock %}
