{# templates/planification/period.create.html.twig #}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

<legend><img src="{{ asset('images/planification-32.png') }}">&nbsp;{{ planification.name }}</legend>

<div class="alert alert-warning">
{{ 'planificationPeriod.create.minimum.date'|trans({'%date%': ppCreateDate.bookingMaxDate|date('d/m/Y')}) }}
</div>

{{ form_start(form, {'action': path('planification_period_create', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID }), 'method': 'POST', 'class': 'form-horizontal'}) }}

<fieldset>
	{{ form_row(form.date) }}
	{{ form_rest(form) }}
</fieldset>

<div class="btn-group">
	<a href="{{ path('planification_edit', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>{{ 'cancel'|trans }}</a>
	<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

<script>document.getElementById('planification_period_create_date_date').focus();</script>

{% endblock %}
