{# templates/planification/period.create.html.twig #}

{% extends 'base.half.html.twig' %}
 
{% block content %}

<div class="w3-panel w3-border-bottom w3-text-indigo">
	<p><img src="{{ asset('images/planification-32.png') }}">&nbsp;</img>{{ planification.name }}</p>
</div>

<div class="w3-panel w3-sand w3-round-large">
	<p>{{ 'planificationPeriod.create.minimum.date'|trans({'%date%': ppCreateDate.bookingMaxDate|date('d/m/Y')}) }}</p>
</div>

{{ form_start(form, {'action': path('planification_period_create', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID }), 'method': 'POST'}) }}

<form class="w3-container">

<p><label>{{ 'planificationPeriod.beginning.date'|trans }}</label>
{{ form_widget(form.date) }}
<span class="w3-text-red">{{ form_errors(form.date) }}</span></p>

{{ form_rest(form) }}

<div class="w3-show-inline-block">
<div class="w3-bar w3-border w3-round">
	<a href="{{ path('planification_edit', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID }) }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-times"></i>&nbsp;{{ 'cancel'|trans }}</a>
	<button type="submit" class="w3-bar-item w3-button w3-green"><i class="fa fa-check"></i>&nbsp;{{ 'validate'|trans }}</button>
</div>
</div>

</form>

{{ form_end(form) }}

{% endblock %}
