{# templates/planification/resource.insert.html.twig #}

{% extends 'planification/resource.html.twig' %}

{% block planification %}{% endblock %}

{% block link_sortBefore %}
	<a href="{{ path('planification_init_resource', { 'type': type, 'resourceIDList': resource.entityIDList_sortBefore }) }}" class="glyphicon glyphicon-arrow-up" title="{{ 'sort.before'|trans }}"></a>
{% endblock %}

{% block link_sortAfter %}
	<a href="{{ path('planification_init_resource', { 'type': type, 'resourceIDList': resource.entityIDList_sortAfter }) }}" class="glyphicon glyphicon-arrow-down" title="{{ 'sort.after'|trans }}"></a>
{% endblock %}

{% block link_unselect %}
	<a href="{{ path('planification_init_resource', { 'type': type, 'resourceIDList': resource.entityIDList_unselect }) }}" class="glyphicon glyphicon-arrow-right" title="{{ 'planification.resource.unselect'|trans }}"></a>
{% endblock %}

{% block link_select %}
	<a href="{{ path('planification_init_resource', { 'type': type, 'resourceIDList': resource.entityIDList_select }) }}" class="glyphicon glyphicon-arrow-left" title="{{ 'planification.resource.select'|trans }}"></a>
{% endblock %}

{% block link_cancel %}
	<a href="{{ path('planification', { 'page': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>{{ 'cancel'|trans }}</a>
{% endblock %}

{% block link_validate %}
	<a href="{{ path('planification_validate_init_resource', { 'type': type, 'resourceIDList': selectedResourcesIDList }) }}" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>&nbsp;{{ 'validate'|trans }}</a>
{% endblock %}
