{# templates/planification/type.html.twig #}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

{% if resourceTypes|length > 0 %}

<div class="alert alert-info">
<span class="glyphicon glyphicon-star"></span>&nbsp;{{ 'planification.type.select'|trans }}
</div>

{% for rt in resourceTypes %}
	<a href="{{ path('planification_init_resource', { 'type': rt.type }) }}" class="list-group-item"><img src="{{ asset('images/' ~ rtIcons[rt.type] ~ '-32.png') }}">&nbsp;{{ ('resourceType.plural.' ~ rt.type)|trans }}<span class="badge">{{ rt.1 }}</span></a>
{% endfor %}

{% else %}

<div class="alert alert-danger">
<span class="glyphicon glyphicon-alert"></span>&nbsp;{{ 'planification.no.resources.to.planify'|trans }}
</div>

{% endif %}

<div class="btn-group">
	<a href="{{ path('planification', { 'page': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
</div>

{% endblock %}
