{% extends 'base.connected.html.twig' %}
 
{% block body %}

{{ form_start(form, {'action': path('user_file_add', { 'email': userFile.email }), 'method': 'POST', 'class': 'form-horizontal'}) }}

<fieldset>
	<legend><img src="{{ asset('images/user-32.png') }}">&nbsp;</img>{{ 'user.new'|trans }}</legend>
	{{ form_row(form.email) }}
	{{ form_row(form.accountType) }}
	{{ form_row(form.administrator) }}
	{{ form_row(form.firstName) }}
	{{ form_row(form.lastName) }}
	{{ form_row(form.uniqueName) }}
	{{ form_row(form.administrator) }}
	{{ form_rest(form) }}
</fieldset>

<div class="btn-group">
<a href="{{ path('user_file', { 'page': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

<script src="{{ asset('scripts/userFile_add.js') }}"></script>

{% endblock %}
