{% extends 'base.connected.html.twig' %}
 
{% set resourceClassificationIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}
 
{% block body %}

{% if userFile.administrator %}
<legend><img src="{{ asset('images/administrator-32.png') }}">&nbsp;</img>&nbsp;{{ userFile.getFirstAndLastName() }}</legend>
{% else %}
<legend><img src="{{ asset('images/user-32.png') }}">&nbsp;</img>&nbsp;{{ userFile.getFirstAndLastName() }}</legend>
{% endif %}

{% if userFile.accountType == "ORGANISATION" %}
<p><img src="{{ asset('images/organisation-32.png') }}">&nbsp;<strong>{{ userFile.uniqueName }}</strong></p>
{% endif %}

{% if userFile.userCreated %}
<p><span class="glyphicon glyphicon-user icon-size32"></span>&nbsp;{{ userFile.userName }}</strong></p>
{% endif %}
<p><span class="glyphicon glyphicon-envelope icon-size32"></span>&nbsp;{{ userFile.email }}</strong></p>

{% if userFile.resourceUser %}
{% if userFile.resource.internal %}
<p><img src="{{ asset('images/' ~ resourceClassificationIcons[userFile.resource.code] ~ '-32.png') }}">&nbsp;{{ ('resourceClassification.singular.' ~ userFile.resource.code)|trans }}</p>
{% else %}
<p><img src="{{ asset('images/user-32.png') }}">&nbsp;{{ userFile.resource.classification.name }}</p>
{% endif %}
{% endif %}

<div>
{% if numberBookings > 0 %}
<a href="{{ path('user_file_booking_list', { 'userFileID': userFile.ID, 'page': 1 }) }}"><img src="{{ asset('images/booking-32.png') }}"> {{ 'booking.plural'|trans }} <span class="badge">{{ numberBookings }}</span></a>
{% else %}
<img src="{{ asset('images/booking-32.png') }}"> {{ 'booking.plural'|trans }} <span class="badge">{{ numberBookings }}</span>
{% endif %}
</div>

<div class="btn-group sb-margin-top">

<a href="{{ path('user_file', { 'page': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'userFile.back.to.list'|trans }}</a>

{% if selectedUserIsFileCreator %}
	<button type="button" class="btn btn btn-primary" data-toggle="modal" data-target="#unaFileCreator1"><span class="glyphicon glyphicon-pencil"></span> <del>{{ 'modify'|trans }}</del></button>
{% elseif not connectedUserIsFileCreator %}
	<button type="button" class="btn btn btn-primary" data-toggle="modal" data-target="#unaFileCreator2"><span class="glyphicon glyphicon-pencil"></span> <del>{{ 'modify'|trans }}</del></button>
{% else %}
	<a href="{{ path('user_file_modify', { 'userFileID': userFile.ID }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> {{ 'modify'|trans }}</a>
{% endif %}

{% if selectedUserIsFileCreator %}
	<button type="button" class="btn btn-info btn-danger" data-toggle="modal" data-target="#dnaFileCreator1"><span class="glyphicon glyphicon-trash"></span> <del>{{ 'delete'|trans }}</del></button>
{% elseif not connectedUserIsFileCreator %}
	<button type="button" class="btn btn-info btn-danger" data-toggle="modal" data-target="#dnaFileCreator2"><span class="glyphicon glyphicon-trash"></span> <del>{{ 'delete'|trans }}</del></button>
{% elseif numberBookings > 0 %}
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#dnaBooking"><span class="glyphicon glyphicon-trash"></span> <del>{{ 'delete'|trans }}</del></button>
{% else %}
	<a href="{{ path('user_file_delete', { 'userFileID': userFile.ID }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{ 'delete'|trans }}</a>
{% endif %}

{% if atLeastOneUserClassification %}
{% if userFile.resourceUser %}
{% if userFile.resource.internal %}
<a href="{{ path('user_file_resource_internal', { 'userFileID': userFile.ID, 'resourceClassificationCode': userFile.resource.code, 'yes': 1 }) }}" class="btn btn-default"><img src="{{ asset('images/resource-16.png') }}"> {{ 'resource.singular'|trans }}</a>
{% else %}
<a href="{{ path('user_file_resource_external', { 'userFileID': userFile.ID, 'resourceClassificationID': userFile.resource.classification.id, 'yes': 1 }) }}" class="btn btn-default"><img src="{{ asset('images/resource-16.png') }}"> {{ 'resource.singular'|trans }}</a>
{% endif %}
{% else %}
<a href="{{ path('user_file_resource', { 'userFileID': userFile.ID }) }}" class="btn btn-default"><img src="{{ asset('images/resource-16.png') }}"> {{ 'resource.singular'|trans }}</a>
{% endif %}
{% endif %}

</div>

<!-- Modal -->
<div id="unaFileCreator1" class="modal fade" role="dialog">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">{{ 'update.not.allowed'|trans }}</h4>
		</div>
		<div class="modal-body">
			<p>{{ 'userFile.una.file.creator.1'|trans }}</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
		</div>
	</div>
</div>
</div>

<div id="unaFileCreator2" class="modal fade" role="dialog">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">{{ 'update.not.allowed'|trans }}</h4>
		</div>
		<div class="modal-body">
			<p>{{ 'userFile.una.file.creator.2'|trans }}</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
		</div>
	</div>
</div>
</div>

<div id="dnaFileCreator1" class="modal fade" role="dialog">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">{{ 'delete.not.allowed'|trans }}</h4>
		</div>
		<div class="modal-body">
			<p>{{ 'userFile.dna.file.creator.1'|trans }}</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
		</div>
	</div>
</div>
</div>

<div id="dnaFileCreator2" class="modal fade" role="dialog">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">{{ 'delete.not.allowed'|trans }}</h4>
		</div>
		<div class="modal-body">
			<p>{{ 'userFile.dna.file.creator.2'|trans }}</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
		</div>
	</div>
</div>
</div>

<div id="dnaBooking" class="modal fade" role="dialog">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">{{ 'delete.not.allowed'|trans }}</h4>
		</div>
		<div class="modal-body">
			<p>{{ 'userFile.dna.booking'|trans({'%name%': userFile.getFirstAndLastName()}) }}</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|trans }}</button>
		</div>
	</div>
</div>
</div>

{% endblock %}


{% block message %}

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-success sb-message">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{ flash_message|trans }}
</div>
{% endfor %}

{% endblock %}
