{# templates/user_file/index.html.twig #}

{% extends 'list.html.twig' %}

{% set create_path, list_path, display_create_path = 'user_file_email', 'user_file', true %}

{% block list %}

<div class="row">

{% for i in 0..listContext.numberColumnsDisplayed-1 if listContext.numberColumnsDisplayed > 0 %}
    <div class="col-sm-{{ (12/listContext.numberColumnsDisplayed) }}">
{% for j in 0..listContext.numberLinesDisplayed-1 if (i*listContext.numberLinesDisplayed+j) < listContext.numberRecordsDisplayed %}
	{% if listUserFiles[i*listContext.numberLinesDisplayed+j].administrator %} {% set image = 'administrator-32.png' %} {% else %} {% set image = 'user-32.png' %} {% endif %}
    {% if listUserFiles[i*listContext.numberLinesDisplayed+j].userCreated %}
    <a href="{{ path('user_file_edit', { 'userFileID': listUserFiles[i*listContext.numberLinesDisplayed+j].ID }) }}" class="list-group-item"><img src="{{ asset('images/' ~ image) }}">&nbsp;{{ listUserFiles[i*listContext.numberLinesDisplayed+j].getFirstAndLastName() }}&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;{{ listUserFiles[i*listContext.numberLinesDisplayed+j].userName }}</a>
    {% else %}
    <a href="{{ path('user_file_edit', { 'userFileID': listUserFiles[i*listContext.numberLinesDisplayed+j].ID }) }}" class="list-group-item list-group-item-warning"><img src="{{ asset('images/' ~ image) }}">&nbsp;{{ listUserFiles[i*listContext.numberLinesDisplayed+j].getFirstAndLastName() }}</a>
    {% endif %}
{% endfor %}
    </div>
{% endfor %}

</div>

{% endblock %}
