{# templates/user_file/resource.html.twig #}

{% set resourceTypes = constant('App\\Entity\\Constants::RESOURCE_TYPE') %}
{% set resourceTypeIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set internalResourceClassifications = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION') %}
{% set resourceClassificationIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

<div class="col-sm-4 list-group">
{% block link_yes_no %}{% endblock %}
</div>

<div class="col-sm-8 list-group">

{% for i_RCCode in internalResourceClassifications[resourceType] %}
{% if i_RCCode in listActiveInternalRC %}
{% block link_internal %}{% endblock %}
{% endif %}
{% endfor %}

{% for i_RC in listExternalRC %}
{% block link_external %}{% endblock %}
{% endfor %}

</div>

<div class="btn-group">
<a href="{{ path('user_file_edit', { 'userFileID': userFile.ID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
{% if internal > 0 %}
<a href="{{ path('user_file_resource_validate_internal', { 'userFileID': userFile.ID, 'resourceClassificationCode': resourceClassificationCode, 'yes': yes }) }}" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</a>
{% else %}
<a href="{{ path('user_file_resource_validate_external', { 'userFileID': userFile.ID, 'resourceClassificationID': resourceClassificationID, 'yes': yes }) }}" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</a>
{% endif %}
</div>

{% endblock %}
