{# templates/timetable/index.html.twig #}

{% extends 'list.html.twig' %}

{% set create_path, list_path, display_create_path = 'timetable_add', 'timetable', true %}

{% set internalTypes = ['D', 'HD'] %}

{% block list %}

<div class="row">

{% for i in 0..listContext.numberColumnsDisplayed-1 if listContext.numberColumnsDisplayed > 0 %}
    <div class="col-sm-{{ (12/listContext.numberColumnsDisplayed) }}">
	{% for j in 0..listContext.numberLinesDisplayed-1 if (i*listContext.numberLinesDisplayed+j) < listContext.numberRecordsDisplayed %}

	{% if listTimetables[i*listContext.numberLinesDisplayed+j].type in internalTypes %}
	<a href="{{ path('timetable_edit', { 'timetableID': listTimetables[i*listContext.numberLinesDisplayed+j].ID }) }}" class="list-group-item list-group-item-warning"><img src="{{ asset('images/time-32.png') }}">&nbsp;{{ listTimetables[i*listContext.numberLinesDisplayed+j].name }}</a>
    {% else %}
	<a href="{{ path('timetable_edit', { 'timetableID': listTimetables[i*listContext.numberLinesDisplayed+j].ID }) }}" class="list-group-item"><img src="{{ asset('images/time-32.png') }}">&nbsp;{{ listTimetables[i*listContext.numberLinesDisplayed+j].name }}</a>
    {% endif %}

	{% endfor %}
    </div>
{% endfor %}

</div>

{% endblock %}
