{% extends 'base.connected.html.twig' %}
 
{% block body %}

{{ form_start(form, {'action': path('file_add'), 'method': 'POST', 'class': 'form-horizontal'}) }}

<fieldset>
	<legend><img src="{{ asset('images/file-32.png') }}">&nbsp;</img>{{ 'file.new'|trans }}</legend>
	{{ form_row(form.name) }}
	{{ form_rest(form) }}
</fieldset>

<div class="btn-group">
<a href="{{ path('file', { 'page': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

document.getElementById('file_name').focus();

{% endblock %}
