{# templates/default/summary.html.twig #}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

{% if userContext.getCurrentUserFileAdministrator() %}

<div class="w3-bar w3-black">
	<button class="w3-bar-item w3-button" onclick="displayTab('flow')">{{ 'summary'|trans }}</button>
	<button class="w3-bar-item w3-button" onclick="displayTab('administration')">{{ 'administration'|trans }}</button>
</div>

<div id="flow" class="w3-container city">
	{{ include('default/flow.html.twig') }}
</div>
<div id="administration" class="w3-container city" style="display:none">
	{{ include('default/administration.html.twig') }}
</div>

{% else %}
{{ include('default/flow.html.twig') }}
{% endif %}

{% endblock %}

{% block javascripts %}

<script>
function displayTab(tabCode) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(tabCode).style.display = "block";  
}
</script>

{% endblock %}
