{# templates/booking/duplicate.one.html.twig #}

{% extends 'booking/duplicate.html.twig' %}

{% block planning_link %}
<a href="{{ path('planning_one', { 'planificationID': planification.ID, 'date': planningDate|date('Ymd') }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'planning.back'|trans }}</a>
{% endblock %}

{% block duplicate_previous_week_link %}
<a href="{{ path('booking_one_duplicate', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'gap': previousGap }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'week.previous'|trans }}</a>
{% endblock %}

{% block duplicate_next_week_link %}
<a href="{{ path('booking_one_duplicate', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'gap': nextGap }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-right"></i> {{ 'week.next'|trans }}</a>
{% endblock %}

{% block duplicate_validate_link %}
<a href="{{ path('booking_one_validate_duplicate', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'gap': gap }) }}" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'duplicate'|trans }}</a>
{% endblock %}

{% block duplicate_delete_link %}
<a href="{{ path('booking_one_delete_duplicate', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'gap': gap, 'newBookingID': newBookingID }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{ 'delete'|trans }}</a>
{% endblock %}
