{# templates/booking/duplicate.html.twig #}

{% extends 'booking/booking.html.twig' %}

{% block booking_details %}

<div class="col-sm-12">
{% if newBookingID > 0 %}
<div class="alert alert-success">
<span class="glyphicon glyphicon-star"></span>&nbsp;{{ 'booking.duplicate.exists'|trans({'%newBookingDate%': dateLongue(planningContext.getFirstDuplicateDate())}) }}
{% elseif ctrlBookingLineID > 0 %}
<div class="alert alert-danger">
<span class="glyphicon glyphicon-star"></span>&nbsp;{{ 'booking.duplicate.ko'|trans({'%newBookingDate%': dateLongue(planningContext.getFirstDuplicateDate())}) }}
{% else %}
<div class="alert alert-info">
<span class="glyphicon glyphicon-star"></span>&nbsp;{{ 'booking.duplicate.ok'|trans({'%newBookingDate%': dateLongue(planningContext.getFirstDuplicateDate())}) }}
{% endif %}
</div>
</div>

<div class="col-sm-6">

{% for j in 1..planningContext.numberColumns %}
{% for i in 1..planningContext.numberLines %}
{{ include('planning/day.html.twig', { 'day_key': ('1-' ~ i ~ '-' ~ j) }) }}
{% endfor %}
{% endfor %}

</div>

<div class="col-sm-6">

{% for j in 1..planningContext.numberColumns %}
{% for i in 1..planningContext.numberLines %}
{{ include('planning/day.html.twig', { 'day_key': ('2-' ~ i ~ '-' ~ j) }) }}
{% endfor %}
{% endfor %}

</div>

{% endblock %}
