{# templates/booking/note.update.many.html.twig #}

{% extends 'booking/note.html.twig' %}

{% block form_start %}
{{ form_start(form) }}
{% endblock %}

{% block booking_buttons %}
	<a href="{{ path('booking_many_update', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDList, 'labelIDList': labelIDList, 'noteID': noteID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
	<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
{% endblock %}

{% block form_end %}
{{ form_end(form) }}
{% endblock %}
