{# templates/booking/period.end.html.twig #}

{% extends 'booking/booking.html.twig' %}

{% block booking_details %}

<ul class="nav nav-pills">

{% if previousFirstDateNumber > 0 %}
	<li>{% block previousFirstDateNumberLink %}{% endblock %}</li>
{% endif %}

{% for endPeriodDay in endPeriodDays %}
{% if loop.index <= 1 %}
	<li class="active"><a data-toggle="pill" href="#{{ endPeriodDay.date|date('Ymd') }}">{{ dateCourte(endPeriodDay.date) }}</a></li>
{% else %}
	<li><a data-toggle="pill" href="#{{ endPeriodDay.date|date('Ymd') }}">{{ dateCourte(endPeriodDay.date) }}</a></li>
{% endif %}
{% endfor %}

{% if nextFirstDateNumber > 0 %}
	<li>{% block nextFirstDateNumberLink %}{% endblock %}</li>
{% endif %}

</ul>

<div class="tab-content">

{% for endPeriodDay in endPeriodDays %}
{% if loop.index <= 1 %}
	<div id="{{ endPeriodDay.date|date('Ymd') }}" class="tab-pane fade in active">
{% else %}
	<div id="{{ endPeriodDay.date|date('Ymd') }}" class="tab-pane fade">
{% endif %}

{% if endPeriodDay.type == 'O' %}
{% for planningLine in endPeriodDay.planningLines %}
{% if planningLine.type == 'O' %}
	{% block createOrUpdateBookingLink %}{% endblock %}
{% else %}
<a href="#" class="list-group-item list-group-item-warning"><img src="{{ asset('images/forbidden-32.png') }}">&nbsp;{{ dateLongue(endPeriodDay.date) }}&nbsp;&rarr;&nbsp;{{ timetableLine(planningLine.timetableLine) }} réservé</a>
{% endif %}
{% endfor %}

{% elseif endPeriodDay.type == 'C' %}
<a href="#" class="list-group-item list-group-item-warning"><img src="{{ asset('images/forbidden-32.png') }}">&nbsp;{{ dateLongue(endPeriodDay.date) }} fermé</a>
{% elseif endPeriodDay.type == 'A' %}
<button type="button" class="list-group-item list-group-item-warning" style="color:red" data-toggle="modal" data-target="#bnaAfter"></button>
{% elseif endPeriodDay.type == 'B' %}
<a href="#" class="list-group-item list-group-item-warning"><img src="{{ asset('images/forbidden-32.png') }}">&nbsp;{{ dateLongue(endPeriodDay.date) }} avant</a>
{% elseif endPeriodDay.type == 'X' %}
<a href="#" class="list-group-item list-group-item-warning"><img src="{{ asset('images/forbidden-32.png') }}">&nbsp;{{ dateLongue(endPeriodDay.date) }} cloturé</a>
{% endif %}
	</div>

{% endfor %}
</div>

{% endblock %}

{% block modal %}

{{ include('planning/modal.html.twig') }}

{% endblock %}
