{# templates/booking/period.end.create.one.html.twig #}

{% extends 'booking/period.end.html.twig' %}

{% block previousFirstDateNumberLink %}
	<a href="{{ path('booking_one_end_period_create', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'firstDateNumber': previousFirstDateNumber, 'userFileIDList': userFileIDList, 'labelIDList': labelIDList, 'noteID': noteID }) }}" class="glyphicon glyphicon-backward" title="{{ 'days.previous'|trans }}"></a>
{% endblock %}

{% block nextFirstDateNumberLink %}
	<a href="{{ path('booking_one_end_period_create', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'firstDateNumber': nextFirstDateNumber, 'userFileIDList': userFileIDList, 'labelIDList': labelIDList, 'noteID': noteID }) }}" class="glyphicon glyphicon-forward" title="{{ 'days.next'|trans }}"></a>
{% endblock %}

{% block createOrUpdateBookingLink %}
	<a href="{{ path('booking_one_create', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': period.timetableLinesList, 'userFileIDList': userFileIDList, 'labelIDList': labelIDList, 'noteID': noteID }) }}" class="list-group-item"><img src="{{ asset('images/time-32.png') }}">&nbsp;{{ dateLongue(endPeriod.date) }}&nbsp;&rarr;&nbsp;{{ timetableLine(period.timetableLine) }}</a>
{% endblock %}

{% block booking_buttons %}
	<a href="{{ path('booking_one_create', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDList, 'labelIDList': labelIDList, 'noteID': noteID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
{% endblock %}
