{# templates/booking/view.one.html.twig #}

{% extends 'booking/create.or.update.html.twig' %}

{% block entered_by %}
<div class="alert alert-success"><span class="glyphicon glyphicon-star"></span>&nbsp;{{ 'booking.entered.on.by'|trans({'%bookingDate%': dateLongue(booking.createdAt), '%bookingTime%': booking.createdAt|date("H:i"), '%userName%': booking.user.getFirstAndLastName()}) }}</div>
{% endblock %}

{% block userFiles_list_link %}
	<li class="list-group-item"><img src="{{ asset('images/' ~ image) }}">&nbsp;{{ userFiles[0].getFirstAndLastName() }}</li>
{% endblock %}

{% block userFiles_table_link %}
{% endblock %}

{% block period_end_link %}
<li class="list-group-item"><img src="{{ asset('images/time-32.png') }}">&nbsp;{{ dateLongue(endDate) }}&nbsp;&rarr;&nbsp;{{ timetableLine(endTimetableLine) }}</li>
{% endblock %}

{% block labels_list_link %}
<li class="list-group-item"><img src="{{ asset('images/label-32.png') }}">&nbsp;{{ labels[0].getName() }}</li>
{% endblock %}

{% block booking_buttons %}
<a href="{{ path('planning_one', { 'planificationID': planification.ID, 'date': planningDate|date('Ymd') }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'planning.back'|trans }}</a>
{% if userContext.getCurrentUserFileAdministrator() or booking.user.id == userContext.user.id %}
<a href="{{ path('booking_one_init_update', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> {{ 'modify'|trans }}</a>
<a href="{{ path('booking_one_delete', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{ 'delete'|trans }}</a>
{% endif %}
{% if userContext.getCurrentUserFileAdministrator() %}
<a href="{{ path('booking_one_duplicate', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID }) }}" class="btn btn-success"><i class="glyphicon glyphicon-repeat"></i> {{ 'duplicate'|trans }}</a>
{% endif %}
{% endblock %}
