{# templates/planning/closed.html.twig #}

<table class="table table-bordered table-striped">
	<thead>
	<tr>
{% for planificationResource in planificationResources %}
	<th>
{% if planificationResource.resource.internal %}
	<img src="{{ asset('images/' ~ rcIcons[planificationResource.resource.code] ~ '-16.png') }}">&nbsp;{{ planificationResource.resource.name }}
{% else %}
	<img src="{{ asset('images/' ~ rtIcons[planificationResource.resource.type] ~ '-16.png') }}">&nbsp;{{ planificationResource.resource.name }}
{% endif %}
	</th>
{% endfor %}
	</tr>
	</thead>
	<tbody>
	<tr>
	<td colspan={{ planificationResources|length }}>C'est fermé</td>
	</tr>
	</tbody>
</table>
