{# templates/planning/day.html.twig #}

<table class="table table-bordered table-striped">
	<thead>
	<tr>
{% if planningContext.displayDate() %}
	<th style="color:blue">{{ dateCourte(planningContext.getDay(day_key).date) }}</th>
{% else %}
	<th></th>
{% endif %}
{% for planificationResource in planificationResources %}
	<th>
{% if planificationResource.resource.internal %}
	<img src="{{ asset('images/' ~ rcIcons[planificationResource.resource.code] ~ '-16.png') }}">&nbsp;{{ planificationResource.resource.name }}
{% else %}
	<img src="{{ asset('images/' ~ rtIcons[planificationResource.resource.type] ~ '-16.png') }}">&nbsp;{{ planificationResource.resource.name }}
{% endif %}
	</th>
{% endfor %}
	</tr>
	</thead>
	<tbody>
{% if planningContext.getDay(day_key).type == 'O' %}

{% for timetableLine in planningContext.getDay(day_key).timetableLines %}
<tr>
	<td>{{ timetableLine(timetableLine) }}</td>
{% for planificationResource in planificationResources %}

{% set key = planningContext.getDay(day_key).date|date('Ymd') ~ '-' ~ planification.ID ~ '-' ~ planificationPeriod.ID ~ '-' ~ planningContext.getDay(day_key).planificationLine.ID ~ '-' ~ planificationResource.resource.ID ~ '-' ~ timetableLine.timetable.ID ~ '-' ~ timetableLine.ID %}

{% if bookings[key] is defined %}
{% if bookings[key].type == 'H' %}
{% if bookings[key].numberTimetableLines > 1 %}
		<td class="{{ bookings[key].cellClass }}" rowspan={{ bookings[key].numberTimetableLines }}>
{% else %}
		<td class="{{ bookings[key].cellClass }}">
{% endif %}

<table><tr><td>
<img src="{{ asset('images/user-16.png') }}">&nbsp;
{{ bookings[key].userNamesString }}
{% if bookings[key].getMultiLigne() %}
</td></tr><tr><td>
{% else %}
&nbsp;
{% endif %}
{% if bookings[key].getLabel() %}
<img src="{{ asset('images/label-16.png') }}">&nbsp;
{{ bookings[key].labelNamesString }}&nbsp;
{% endif %}
{% if bookings[key].getNoteExists() %}
<img src="{{ asset('images/note-16.png') }}" title="{{ bookings[key].note }}">&nbsp;
{% endif %}
<a href="{{ path(booking_update, { 'planningDate': date|date('Ymd'), 'bookingID': bookings[key].id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': planificationResource.resource.ID, 'date': planningContext.getDay(day_key).date|date('Ymd') }) }}" class="glyphicon glyphicon-pencil" title="{{ 'modify'|trans }}"></a>&nbsp;
<a href="{{ path(booking_delete, { 'planningDate': date|date('Ymd'), 'bookingID': bookings[key].id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': planificationResource.resource.ID, 'date': planningContext.getDay(day_key).date|date('Ymd') }) }}" class="glyphicon glyphicon-trash" title="{{ 'delete'|trans }}"></a>
</td></tr></table>

		</td>
{% endif %}
{% else %}
		<td>
{% if planningContext.getDay(day_key).periodType == 'B' %}
<button type="button" class="glyphicon glyphicon-plus btn-link" style="color:red" data-toggle="modal" data-target="#bnaBefore"></button>
{% elseif planningContext.getDay(day_key).periodType == 'A' %}
<button type="button" class="glyphicon glyphicon-plus btn-link" style="color:red" data-toggle="modal" data-target="#bnaAfter"></button>
{% else %}
<a href="{{ path(booking_create, { 'planningDate': date|date('Ymd'), 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': planificationResource.resource.ID, 'date': planningContext.getDay(day_key).date|date('Ymd'), 'timetableLinesList': (planningContext.getDay(day_key).date|date('Ymd') ~ '+' ~ timetableLine.timetable.ID ~ '+' ~ timetableLine.ID), 'userFileIDList': userContext.getCurrentUserFile().getID(), 'labelIDList': 0, 'noteID': 0 }) }}" class="glyphicon glyphicon-plus" title="{{ 'booking.book'|trans }}"></a>
{% endif %}
		</td>
{% endif %}
{% endfor %}
</tr>

{% endfor %}

{% else %}
<tr>
	<td></td><td colspan={{ planificationResources|length }}>C'est fermé</td>
</tr>
{% endif %}

	</tbody>
</table>
