{# templates/planning/many.html.twig #}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

{{ form_start(form, {'attr': {
						'class': 'form-inline',
	'action': path('planning_many_pp', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd') }),
						'method': 'POST',
					}}) }}

<div class="col-sm-3">

{% block listRow %}
{% for i_p in planifications %}
<div class="row">
{% if i_p.internal %}

{% if i_p.ID == planification.ID %}
	<a href="{{ path('planning_many', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item active"><img src="{{ asset('images/' ~ rcIcons[i_p.code] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% else %}
	<a href="{{ path('planning_many', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item"><img src="{{ asset('images/' ~ rcIcons[i_p.code] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endif %}

{% else %}

{% if i_p.ID == planification.ID %}
	<a href="{{ path('planning_many', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item active"><img src="{{ asset('images/' ~ rtIcons[i_p.type] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% else %}
	<a href="{{ path('planning_many', { 'planificationID': i_p.ID, 'date': date|date('Ymd') }) }}" class="list-group-item"><img src="{{ asset('images/' ~ rtIcons[i_p.type] ~ '-32.png') }}">&nbsp;{{ i_p.name }}</a>
{% endif %}

{% endif %}
</div>
{% endfor %}
{% endblock %}

</div>

<div class="col-sm-9">

<legend>

<a href="{{ path('planning_many', { 'planificationID': planification.ID, 'date': previousDate|date('Ymd') }) }}" class="glyphicon glyphicon-chevron-left" title="{{ 'day.previous'|trans }}"></a>
<span style="color:blue">{{ dateLongue(date) }}</span>
<a href="{{ path('planning_many', { 'planificationID': planification.ID, 'date': nextDate|date('Ymd') }) }}" class="glyphicon glyphicon-chevron-right" title="{{ 'day.next'|trans }}"></a>
{{ form_widget(form.date) }}
<button type="submit" class="btn btn-default" title="{{ 'planning.display.date'|trans }}">
	<span class="glyphicon glyphicon-th"></span>
</button>
<a href="{{ path('planning_one_pp', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd') }) }}" title="{{ 'planning.stretched.out'|trans }}"><span class="glyphicon glyphicon-resize-full"></span></a>

</legend>

{% block planning %}{% endblock %}

</div>

{{ form_end(form) }}

{% endblock %}
