{# templates/planning/one.html.twig #}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% set maxNumberColumns = constant('App\\Entity\\Constants::PLANNING_MAX_NUMBER_COLUMNS') %}
{% set maxNumberLines = constant('App\\Entity\\Constants::PLANNING_MAX_NUMBER_LINES') %}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

{{ form_start(form, {'attr': {
						'class': 'form-inline',
	'action': path('planning_one_pp', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd') }),
						'method': 'POST',
					}}) }}

<legend>

{% if planification.internal %}
<img src="{{ asset('images/' ~ rcIcons[planification.code] ~ '-32.png') }}">
{% else %}
<img src="{{ asset('images/' ~ rtIcons[planification.type] ~ '-32.png') }}">
{% endif %}

{{ planification.name }}
<a href="{{ path('planning_one', { 'planificationID': planification.ID, 'date': previousDate|date('Ymd') }) }}" class="glyphicon glyphicon-chevron-left" title="{{ 'day.previous'|trans }}"></a>
<span style="color:blue">{{ dateLongue(date) }}</span>
<a href="{{ path('planning_one', { 'planificationID': planification.ID, 'date': nextDate|date('Ymd') }) }}" class="glyphicon glyphicon-chevron-right" title="{{ 'day.next'|trans }}"></a>
{{ form_widget(form.date) }}
<button type="submit" class="btn btn-default" title="{{ 'planning.display.date'|trans }}">
	<span class="glyphicon glyphicon-th"></span>
</button>

{% if planningContext.numberColumns > 1 %}
<a href="{{ path('planning_one_set_number_columns', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd'), 'numberColumns': (planningContext.numberColumns-1) }) }}" title="{{ 'planning.reduce.left'|trans }}"><span class="glyphicon glyphicon-triangle-left"></span></a>
{% else %}
<button type="button" class="glyphicon glyphicon-triangle-left btn-link" style="color:grey" disabled="disabled"></button>
{% endif %}

{% if planningContext.numberColumns < maxNumberColumns %}
<a href="{{ path('planning_one_set_number_columns', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd'), 'numberColumns': (planningContext.numberColumns+1) }) }}" title="{{ 'planning.stretch.right'|trans }}"><span class="glyphicon glyphicon-triangle-right"></span></a>
{% else %}
<button type="button" class="glyphicon glyphicon-triangle-right btn-link" style="color:grey" disabled="disabled"></button>
{% endif %}

{% if planningContext.numberLines > 1 %}
<a href="{{ path('planning_one_set_number_lines', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd'), 'numberLines': (planningContext.numberLines-1) }) }}" title="{{ 'planning.reduce.top'|trans }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
{% else %}
<button type="button" class="glyphicon glyphicon-triangle-top btn-link" style="color:grey" disabled="disabled"></button>
{% endif %}

{% if planningContext.numberLines < maxNumberLines %}
<a href="{{ path('planning_one_set_number_lines', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd'), 'numberLines': (planningContext.numberLines+1) }) }}" title="{{ 'planning.stretch.bottom'|trans }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
{% else %}
<button type="button" class="glyphicon glyphicon-triangle-bottom btn-link" style="color:grey" disabled="disabled"></button>
{% endif %}

{% if list_acces %}
<a href="{{ path('planning_list', { 'page': 1 }) }}" title="{{ 'planning.list'|trans }}"><span class="glyphicon glyphicon-list"></span></a>
{% else %}
<a href="{{ path('planning_many_pp', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd') }) }}" title="{{ 'planning.global'|trans }}"><span class="glyphicon glyphicon-resize-small"></span></a>
{% endif %}

{% if not userContext.getCurrentUserFileAdministrator() and (bookingPeriod.before or bookingPeriod.after) %}
<button type="button" class="glyphicon glyphicon-alert btn-link" style="color:red" data-toggle="modal" data-target="#bpAlert"></button>
{% endif %}

</legend>

<div class="row">

{% for j in 1..planningContext.numberColumns %}
    <div class="col-sm-{{ (12/planningContext.numberColumns) }}">
{% for i in 1..planningContext.numberLines %}
{{ include('planning/day.html.twig', { 'booking_create': 'booking_one_create', 'booking_view': 'booking_one_view', 'day_key': ('1-' ~ i ~ '-' ~ j) }) }}
{% endfor %}
    </div>
{% endfor %}

</div>

{{ form_end(form) }}

{{ include('planning/modal.html.twig') }}

{% endblock %}

{% block message %}

<div class="col-sm-12">

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-success sb-message">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{ flash_message|trans }}
</div>
{% endfor %}

</div>

{% endblock %}
