{# templates/planning/one.html.twig #}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

{{ form_start(form, {'action': path('planning_one_pp', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd') }), 'method': 'POST', 'class': 'form-horizontal'}) }}

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
	<a href="{{ path('planning_many_pp', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd') }) }}" title="{{ 'planning.global'|trans }}"><span class="glyphicon glyphicon-resize-small"></span></a>
		</ul>
	</div>
</nav>

<div class="well well-sm" style="color:blue">
<div class="row">

<div class="col-sm-6">
	{{ form_widget(form.date) }}
<button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-th"></span>
</button>
</div>

<div class="col-sm-6">
<a href="{{ path('planning_one', { 'planificationID': planification.ID, 'date': previousDate|date('Ymd') }) }}" class="glyphicon glyphicon-chevron-left" title="{{ 'day.previous'|trans }}"></a>
	{{ ('day.' ~ (date|date("D")|upper))|trans }}&nbsp;{{ date|date("j") }}&nbsp;{{ (('month.' ~ (date|date("M")|upper))|trans)|lower }}&nbsp;{{ date|date("Y") }}&nbsp;
<a href="{{ path('planning_one', { 'planificationID': planification.ID, 'date': nextDate|date('Ymd') }) }}" class="glyphicon glyphicon-chevron-right" title="{{ 'day.next'|trans }}"></a>
</div>

</div>
</div>

{% block planning %}{% endblock %}

{{ form_end(form) }}

{% endblock %}
