{# templates/resource/index.html.twig #}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends 'list.html.twig' %}

{% set create_path, list_path, display_create_path = 'resource_classification', 'resource', true %}

{% block list %}

<div class="row">

{% for i in 0..listContext.numberColumnsDisplayed-1 if listContext.numberColumnsDisplayed > 0 %}
    <div class="col-sm-{{ (12/listContext.numberColumnsDisplayed) }}">
	{% for j in 0..listContext.numberLinesDisplayed-1 if (i*listContext.numberLinesDisplayed+j) < listContext.numberRecordsDisplayed %}

{% if listResources[i*listContext.numberLinesDisplayed+j].internal %}
{% set resource_image = rcIcons[listResources[i*listContext.numberLinesDisplayed+j].code] %}
{% else %}
{% set resource_image = rtIcons[listResources[i*listContext.numberLinesDisplayed+j].type] %}
{% endif %}

{% if listResources[i*listContext.numberLinesDisplayed+j].planified %}
	<a href="{{ path('resource_edit', { 'resourceID': listResources[i*listContext.numberLinesDisplayed+j].ID }) }}" class="list-group-item"><img src="{{ asset('images/' ~ resource_image ~ '-32.png') }}">&nbsp;{{ listResources[i*listContext.numberLinesDisplayed+j].name }}<span class="badge badge-info">P</span></a>
{% else %}
	<a href="{{ path('resource_edit', { 'resourceID': listResources[i*listContext.numberLinesDisplayed+j].ID }) }}" class="list-group-item"><img src="{{ asset('images/' ~ resource_image ~ '-32.png') }}">&nbsp;{{ listResources[i*listContext.numberLinesDisplayed+j].name }}</a>
{% endif %}

	{% endfor %}
    </div>
{% endfor %}

</div>

{% endblock %}
