{% extends 'base.html.twig' %}

{% block navbar %}

<div class="w3-bar w3-light-grey">
	<a href="{{ path('user_logout')}}" class="w3-bar-item w3-button"><i class="fa fa-home w3-xlarge"></i>&nbsp;Slam Booking</a>
	<a href="{{ path('user_login')}}" class="w3-bar-item w3-button w3-right"><i class="fa fa-sign-in w3-xlarge"></i>&nbsp;{{ 'user.login'|trans }}</a>
	<a href="{{ path('user_registration')}}" class="w3-bar-item w3-button w3-right"><i class="fa fa-user w3-xlarge"></i>&nbsp;{{ 'user.register'|trans }}</a>
</div> 

{% endblock %}
