{% extends 'base.html.twig' %}

{% block navbar %}

<div class="w3-bar w3-light-grey">

{% if userContext.getCurrentUserFileAdministrator() %}
	<a href="{{ path('default')}}" class="w3-bar-item w3-button w3-green"><i class="fa fa-home w3-xlarge"></i>&nbsp;{{ userContext.getCurrentFileName() }}</a>
{% else %}
	<a href="{{ path('default')}}" class="w3-bar-item w3-button w3-orange"><i class="fa fa-home w3-xlarge"></i>&nbsp;{{ userContext.getCurrentFileName() }}</a>
{% endif %}

<a href="{{ path('file', { 'page': 1 })}}" class="w3-bar-item w3-button"><img src="{{ asset('images/file-16.png') }}">&nbsp;{{ 'file.plural'|trans }}</a>
	
{% if (userContext.getCurrentFileID() > 0) %}
<div class="w3-dropdown-hover">
	<button class="w3-button"><img src="{{ asset('images/booking-16.png') }}">&nbsp;Slam Booking</button>
	<div class="w3-dropdown-content w3-bar-block w3-card-4">
		<a href="{{ path('planning') }}" class="w3-bar-item w3-button"><img src="{{ asset('images/planning-16.png') }}">&nbsp;{{ 'planning'|trans }}</a>
		<a href="{{ path('query_booking', { 'page': 1 }) }}" class="w3-bar-item w3-button"><img src="{{ asset('images/dashboard-16.png') }}">&nbsp;{{ 'dashboard.plural'|trans }}</a>
	</div>
</div>	
{% endif %}

{% if userContext.getCurrentUserFileAdministrator() %}
<div class="w3-dropdown-hover">
	<button class="w3-button"><img src="{{ asset('images/administration-16.png') }}">&nbsp;{{ 'administration'|trans }}</button>
	<div class="w3-dropdown-content w3-bar-block w3-card-4">
		<a href="{{ path('user_file', { 'page': 1 }) }}" class="w3-bar-item w3-button"><img src="{{ asset('images/user-16.png') }}">&nbsp;{{ 'users'|trans }}</a>
		<a href="{{ path('timetable', { 'page': 1 }) }}" class="w3-bar-item w3-button"><img src="{{ asset('images/time-16.png') }}">&nbsp;{{ 'timetable.plural'|trans }}</a>
		<a href="{{ path('resource_classification_index', { 'resourceType': 'PLACE' }) }}" class="w3-bar-item w3-button"><img src="{{ asset('images/box-16.png') }}">&nbsp;{{ 'resourceClassification.plural'|trans }}</a>
		<a href="{{ path('resource', { 'page': 1 }) }}" class="w3-bar-item w3-button"><img src="{{ asset('images/resource-16.png') }}">&nbsp;{{ 'resource.plural'|trans }}</a>
		<a href="{{ path('planification', { 'page': 1 }) }}" class="w3-bar-item w3-button"><img src="{{ asset('images/planification-16.png') }}">&nbsp;{{ 'planification.plural'|trans }}</a>
		<a href="{{ path('label', { 'page': 1 }) }}" class="w3-bar-item w3-button"><img src="{{ asset('images/label-16.png') }}">&nbsp;{{ 'label.plural'|trans }}</a>
	</div>
</div>	
{% endif %}

<div class="w3-dropdown-hover w3-right">
	<button class="w3-button"><i class="fa fa-user"></i>&nbsp;{{ app.user.username }}</button>
	<div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0">
		<a href="{{ path('user_edit') }}" class="w3-bar-item w3-button"><i class="fa fa-user"></i>&nbsp;{{ 'user.accountt'|trans }}</a>
		<a href="{{ path('user_logout') }}" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i>&nbsp;{{ 'user.logout'|trans }}</a>
	</div>
</div>	

</div> 

{% endblock %}
