{% extends 'base.connected.html.twig' %}

{% block body %}

<legend><img src="{{ asset('images/' ~ listContext.image ~ '-32.png') }}">&nbsp;</img>{{ (listContext.entityCode ~ '.plural')|trans }}</legend>

<div class="btn-group sb-margin-bottom">
{% if display_create_path %}
<a href="{{ path(create_path) }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> {{ (listContext.entityCode ~ '.create')|trans }}</a>
{% endif %}
<a href="{{ path('parameter_numberLinesColumns', { 'entityCode': listContext.entityCode, 'listPath': list_path }) }}" class="btn btn-default"><i class="glyphicon glyphicon-wrench"></i> {{ 'parameters'|trans }}</a>

{% if (listContext.numberPages > 1) %}
  
{% if listContext.page > 2 %}
	<a href="{{ path(list_path, { 'page': 1 }) }}" class="btn btn-default sb-page">1</a>
{% endif %}
{% if listContext.page > 1 %}
	<a href="{{ path(list_path, { 'page': (listContext.page-1) }) }}" class="btn btn-default sb-page">{{ (listContext.page-1) }}</a>
{% endif %}
	<a href="{{ path(list_path, { 'page': listContext.page }) }}" class="btn btn-default sb-current-page">{{ listContext.page }}</a>
{% if listContext.page < listContext.numberPages %}
	<a href="{{ path(list_path, { 'page': (listContext.page+1) }) }}" class="btn btn-default sb-page">{{ (listContext.page+1) }}</a>
{% endif %}
{% if listContext.page < (listContext.numberPages-1) %}
	<a href="{{ path(list_path, { 'page': listContext.numberPages }) }}" class="btn btn-default sb-page">{{ listContext.numberPages }}</a>
{% endif %}

{% endif %}
</div>

{% block list %}{% endblock %}

{% endblock %}


{% block message %}

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-success sb-message">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ flash_message|trans }}
</div>
{% endfor %}

{% endblock %}
