{% extends 'base.connected.html.twig' %}
 
{% block body %}

{{ form_start(form, {'action': path('parameter_numberLinesColumns', { 'entityCode': entityCode, 'listPath': listPath }), 'method': 'POST', 'class': 'form-horizontal'}) }}

<fieldset>
	<legend><i class="glyphicon glyphicon-wrench"></i>&nbsp;{{ 'number.lines.columns'|trans }}</legend>
	{{ form_row(form.numberLines) }}
	{{ form_row(form.numberColumns) }}
	{{ form_rest(form) }}
</fieldset>

<div class="btn-group">
	<a href="{{ path(listPath, { 'page': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
	<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>

{{ form_end(form) }}

{% endblock %}
