{# templates/label/edit.html.twig #}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

<legend><img src="{{ asset('images/label-32.png') }}"></img>&nbsp;{{ label.name }}</legend>

<div class="btn-group">
<a href="{{ path('label', { 'page': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'label.back.to.list'|trans }}</a>
<a href="{{ path('label_modify', { 'labelID': label.ID }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> {{ 'modify'|trans }}</a>
<a href="{{ path('label_delete', { 'labelID': label.ID }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{ 'delete'|trans }}</a>
</div>

{% endblock %}

{% block message %}

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-success sb-message">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{ flash_message|trans }}
</div>
{% endfor %}

{% endblock %}
