{# templates/query_booking/edit.html.twig #}

{% extends 'base.connected.html.twig' %}
 
{% block body %}

<legend><img src="{{ asset('images/dashboard-32.png') }}"></img>&nbsp;{{ queryBooking.name }}</legend>

<div class="btn-group">
<a href="{{ path('query_booking', { 'page': 1 }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'queryBooking.back.to.list'|trans }}</a>
<a href="{{ path('query_booking_modify', { 'queryBookingID': queryBooking.ID }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> {{ 'modify'|trans }}</a>
<a href="{{ path('query_booking_delete', { 'queryBookingID': queryBooking.ID }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{ 'delete'|trans }}</a>
</div>

{% endblock %}

{% block message %}

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-success sb-message">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{ flash_message|trans }}
</div>
{% endfor %}

{% endblock %}
