{% extends 'base.unconnected.html.twig' %}
 
{% block body %}

{{ form_start(form, {'action': path('user_registration'), 'method': 'POST', 'class': 'form-horizontal'}) }}

<fieldset>
	<legend><span class="glyphicon glyphicon-log-in">&nbsp;<i class="fa fa-lock" aria-hidden="true"></i>{{ 'user.registration'|trans }}</legend>
	<legend>{{ 'user.registration'|trans }}</legend>
	{{ form_row(form.accountType) }}
	{{ form_row(form.firstName) }}
	{{ form_row(form.lastName) }}
	{{ form_row(form.userName) }}
	{{ form_row(form.email) }}
	{{ form_row(form.uniqueName) }}
	{{ form_row(form.password.first) }}
	{{ form_row(form.password.second) }}
	{{ form_rest(form) }}
	<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>{{ 'user.register'|trans }}</button>
</fieldset>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

<script src="{{ asset('scripts/user_register.js') }}"></script>

{% endblock %}
