{# templates/user/forgot.login.or.password.html.twig #}

{% extends 'base.unconnected.html.twig' %}
 
{% block body %}

<div class="col-sm-2"></div>
<div class="col-sm-8">

{{ form_start(form, {'action': path('user_forgot_login_or_password'), 'method': 'POST', 'class': 'form-horizontal'}) }}

<fieldset>
	<legend><span class="glyphicon glyphicon-log-in">&nbsp;{{ 'user.forgot.login.or.password'|trans }}</legend>
	{{ form_errors(form) }}
	{{ form_row(form.email) }}
	{{ form_rest(form) }}
</fieldset>

<div class="btn-group">
<a href="{{ path('user_login') }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>

{{ form_end(form) }}

</div>
<div class="col-sm-2"></div>

{% endblock %}

{% block message %}

<div class="col-sm-12">

{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-success sb-message">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{ flash_message|trans }}
</div>
{% endfor %}

</div>

{% endblock %}

{% block javascripts %}
<script>document.getElementById('sd_email_email').focus();</script>
{% endblock %}
