{% extends 'base.connected.html.twig' %}
 
{% block body %}

{{ form_start(form, {'action': path('user_password'), 'method': 'POST', 'class': 'form-horizontal'}) }}

<fieldset>
	<legend><img src="{{ asset('images/user-32.png') }}">&nbsp;</img>{{ user.getFirstAndLastName() }}</legend>
	
	{{ form_row(form.accountType) }}
	{{ form_row(form.firstName) }}
	{{ form_row(form.lastName) }}
	{{ form_row(form.userName) }}
	{{ form_row(form.email) }}
	{{ form_row(form.uniqueName) }}
	{{ form_row(form.password) }}
	{{ form_rest(form) }}
</fieldset>

<div class="btn-group">
<a href="{{ path('user_edit') }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>

{{ form_end(form) }}

{% endblock %}
